* {
    padding: 0px;
    margin: 0px;
}
.main-board {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #a23c06;
}
#board{
    background-color: #dbbe73;
    width: 60vmin;
    height: 62vmin;
    display: grid;
    grid-template-rows:    repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}
.score{
    border: 2px solid #5d2507;
    padding: 10px;
    display: block;
    text-align: left;
}
.score > div{
    font-weight: bold;
    color: #801f07;
}
.score > p{
    font-weight: bold;
    color: #265f1e;
}

.head{ background-color: #5d2507; border-radius: 10px; border: 2px solid #dbbe73; transform:scale(1.2);}
.snake{ background-color: #a23c06; border-radius: 10px; border: 2px solid #dbbe73;}
.food{ background-color: #a23c06; border-radius: 10px; border: 3px solid #dbbe73;}

.controls{
    border: 2px solid #5d2507;
    display: block;
    padding: 10px;
}
.controls button {
    padding: 5px 10px;
    background-color: bisque;
    border-radius: 10px;
}
.center-controls{
    display: flex;
    justify-content: space-around;
}
.top-controls, .bottom-controls{
    display: flex;
    justify-content: space-around;
}

@media (max-device-width: 480px) {
    #board { 
        width: 100%;
        grid-template-rows:    repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
     }
     .head, .snake, .food{
        border-radius: 5px;
        border: 0;
     }
    .main-board {
        left: 0;
        width: 100%;
        transform: none;
        border: none
    }
    .controls button {
        padding:10px;
        background-color: bisque;
        border-radius: 10px;
    }
  }